<h1>Listing tasks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.completed ? 'Yes' : 'No' %></td>
        <td><%= link_to 'Show', dashboard_task_path(task) %></td>
        <td><%= link_to 'Edit', edit_dashboard_task_path(task) %></td>
        <td><%= link_to 'Destroy', dashboard_task_path(task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New task', new_dashboard_task_path %>
